body {
   font-family:'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}     

h1, h2, h3 {
    font-weight: bold; 
}

#header-top {
    background-color: #FFFFFF;
}

#left-side {
    text-align: left;
    font-weight: bold;
    
}
#header-text {
    text-align: center;
    line-height: 100px;
    background-color: rgb(21, 10, 61);
    height: 300px;
    font-size: 40px;  
}

#contact-information {
    text-align: right;
    font-weight: bold;
}


#header-button{
    color: #FFFFFF;
    background-color: rgb(70, 33, 206);
    font-weight: bold;
    font-size: larger; 
}

#text-menu {
    background-color: #FFFFFF;
    color: #030303;
    margin: 20px;
    font-size: 20px;
    display: inline-block;
}

#team-list {
    background-color: grey; 
    color: #030303;
    padding: 10px; 
}


#team-list ul li {
    text-align: center;
    background-color: #fff; 
    color: #030303;
    margin: 20px;
    font-size: 20px;
    display: inline-block;
}

footer {
    color: #FFFFFF;
    background-color: rgb(21, 10, 61);
}
